@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    <h2>This page will confirm deletes for tasks </h2>

    @* This will contain all the deletes for the individual task  *@
    @model Mission8_0206.Models.Task
    @* Here's some details about this block about the model *@
</div>
<div class="row">
    <div class="col-md-6">
    <h2>@Model.TaskName</h2>
    <p><strong>Due Date:</strong> @Model.DueDate</p>
    <p><strong>Category</strong> @Model.Category?.CategoryName</p>
    @{
        string quadrantText = "";
        switch (Model.Quadrant)
        {
            case 1:
                quadrantText = "Quadrant I : Important / Urgent";
                break;
            case 2:
                quadrantText = "Quadrant II : Important / Not Urgent";
                break;
            case 3:
                quadrantText = "Quadrant II : Not Important / Urgent";
                break;
            case 4:
                quadrantText = "Quadrant IV : Not Important / Not Urgent";
                break;
            default:
                quadrantText = "Unknown Quadrant";
                break;
        }
    }
    <p><strong>Quadrant:</strong> @quadrantText</p>
    <p><strong>Completed: </strong> @(Model.Completed ? "Yes" : "No")</p>
    </div>
</div>
<h3>Are you sure you want to delete this Task?</h3>

@using (Html.BeginForm("DeleteTask", "Home", new { id = Model.TaskId }, FormMethod.Post))
{
    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}